.title-center {
  color: white;
}

.title-toolbar {
  background: #040C0C;
  width: 100%;
}

.container-row{
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
  font-size: 18px;
}
